# dependencies
/node_modules

# next
/.next
/out

# local env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os / editors
.DS_Store
.idea
.vscode

# misc
coverage
*.pem
data/*.json
.playwright-cli
*.tsbuildinfo
